@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>W trakcie budowy</title> <!-- Zmień na inny tytuł strony -->
    <meta charset="utf-8" />
    <img src=https://media.makeameme.org/created/focus-on-the-5baf6d.jpg>
    <style>
        body {
            background-color: #252525; /* Zmień na inny kolor tła */
        }
        h1 {
            color: #e0e0e0; /* Zmień na inny kolor napisu */
        }
    </style>
</head>
<body>
    <h1>W trakcie budowy</h1>
</body>
</html>